@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

#headstuff {
    height: 70%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(https://thesich.files.wordpress.com/2017/06/paintstroke1.png);
    background-repeat: no-repeat;
    background-position: center;
}

body {
  margin:0;
}

h1 {
    font-family: Lato;
    font-weight: 200;
    font-size: 350%;
    color: #fffafa;
}

h2 {
    font-family: Raleway;
    font-weight: 100;
    font-size: 18px;
    color: #fffafa;
}

#description {
    font-family: Raleway;
    font-weight: 100;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    vertical-align: middle;
    margin-top: 15%;

}

a:link {
    color: darkslategray;
    text-decoration: none;
}

a:visited {
    color: CadetBlue;
    text-decoration: none;
}

#about {
    font-family: Raleway;
    font-weight: medium;
    font-size: 18px;
    text-align: center;
    letter-spacing: 4px;
}

#buttoncontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#email {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-family: Raleway;
    font-weight: 100;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    vertical-align: middle;
    margin-top: 15%;
}

#document {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    vertical-align: middle;
    margin-top: 15%;
}
